.my-wish-items>.card-vertical {
    border: none;
    margin-bottom: 2rem;
}

.icon-wish-heart {
    margin-left: 0;
    left: 5px;
    top: 2px;
    color: var(--secondary-color);
}

.icon-wish-dismiss {
    margin-right: 0;
    right: 5px;
    top: 2px;
    color: var(--secondary-color);
}

@media screen and (min-width: 720px) {
    .my-wish-items {
        display: grid;
        grid-gap: 1rem;
        grid-template-columns: repeat(2, 1fr);
    }
}


@media screen and (min-width: 920px) {
    .my-wish-items {
        grid-template-columns: repeat(3, 1fr);
    }
}


@media screen and (min-width: 1150px) {
    .my-wish-items {
        grid-template-columns: repeat(4, 1fr);
    }
}
